$article_color: #737373;
$title_color: #262626;
$subtitle_color: #595959;
$white_color: #fff;
$green_color: #48974c;
$gray_color: #404040;
$bg_color: #f8f8f8;

$global_font: 'PT Sans', sans-serif;
$title_font: 'Cormorant Infant', serif;